body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../assent/reception.avif'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    text-align: center;
    background-color: rgba(194, 189, 189, 0.8); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    color: #666;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4a90e2;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}
